package auth

import (
	"github.com/tumivn/goblog/internal/domain/auth/dtos"
)

templ SignInButton(user *dtos.UserResponse) {
    if user != nil {
        Hi {user.Firstname}, <a href="/auth/logout" class="text-sm font-semibold leading-6 text-gray-900">Logout <span aria-hidden="true">&rarr;</span></a>
    } else{
        <a href="/auth/login" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
    }
}